// Chapter styles
// ==============

.chapter-section {
  width: 100%;
  max-width: columns(7);
  margin: columns(1) auto;

  >h1 {
    @include font-size(3);
    color: $red;
    margin: 0;
    text-align: center;
  }

  article {
    &:first-of-type {
      margin-top: columns(1);
    }

    >* {
      margin-top: units(1);

      &:first-child {
        margin-top: 0;
      }
    }

    p,
    li {
      @include font-size(1);
    }

    ul {
      list-style: disc inside;
    }

    ol {
      list-style: decimal inside;
    }

    pre,
    code {
      border: 0;
    }

    code {
      @include font-size(-1);
    }

    abbr {
      border-bottom: 1px dotted currentColor;
      font-style: italic;
    }

    .example-image {
      display: block;
      height: units(3);
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;

      &[data-height-1] {
        height: units(3);
      }

      &[data-height-2] {
        height: units(5);
      }

      &[data-height-3] {
        height: units(10);
      }

      &[data-height-4] {
        height: units(15);
      }
    }
  }

  article + article:before {
    display: block;
    height: units(1);
    margin: units(2) auto units(2);
    content: '';
    background: url(../images/separator.svg) no-repeat center;
    background-size: contain;
  }
}
