// Chapters list styles
// ====================

.chapters-list {
  width: columns(5);
  margin: units(2) auto 0;
  list-style: none;
  text-align: center;

  li {
    @include font-size(1);
    margin-top: units(.5);
    text-align: left;

    &.upcoming {
      opacity: .5;
      pointer-events: none;
    }

    strong {
      display: inline-block;
      font-size: font-scale(2);
      padding-right: units(.5);
      text-align: right;

      @include breakpoint(small) {
        font-size: font-scale(2, small);
        width: calc(50% - #{units(2, small)});
        padding-right: units(.5, small);
      }
    }

    @include breakpoint(small) {
      @include font-size(1, small);
      margin-top: units(.5, small);
    }
  }

  @include breakpoint(small) {
    width: 100%;
    margin: units(2, small) auto 0;
  }
}
