// Further normalisations
// ======================

*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
}

a,
button {
  cursor: pointer;
}
