// Home page styles
// ================

.home-header {
  margin: units(2) auto 0;
  text-align: center;

  .title,
  .sass-logo {
    display: inline-block;
    height: columns(2);
    vertical-align: top;
  }

  .title {
    font-size: font-scale(4);
    line-height: columns(2);
    margin: 0;
    color: $red;
  }

  .sass-logo {
    margin-left: units(1);
  }
}
