// Home footer
// ===========

.home-footer {
  width: 100%;
  max-width: columns(6);
  margin: units(2) auto;

  p {
    @include font-size(0);

    @include breakpoint(small) {
      @include font-size(0, small);
    }
  }

  @include breakpoint(small) {
    padding: 0 units(1, small);
    margin: units(2, small) auto;
  }
}
