// Home page styles
// ================

.home-header {
  margin: units(2) auto 0;
  text-align: center;

  .title,
  .sass-logo {
    display: inline-block;
    height: units(6);
    vertical-align: top;

    @include breakpoint(small) {
      height: columns(1, small);
    }
  }

  .title {
    font-size: font-scale(3);
    line-height: units(6);
    margin: 0;
    color: $red;

    @include breakpoint(small) {
      font-size: font-scale(3, small);
      line-height: columns(1, small);
    }
  }

  .sass-logo {
    margin-left: units(1);

    @include breakpoint(small) {
      margin-left: units(.5, small);
    }
  }

  @include breakpoint(small) {
    margin: units(2, small) auto;
  }
}
