// List navigation example
// =======================

.list-navigation-example {
  display: inline-block;
  font-size: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: $red;
  border-radius: 1ex;

  &.medium {
    width: 50%;
  }

  &.small {
    width: 25%;
  }

  a {
    @include font-size(0);
    display: inline-block;
    max-width: 100%;
    padding: 0 units(.5);
    color: $white;
    text-decoration: none;
    text-shadow: 1px 1px 0 darken($red, 25%);
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      background: darken($red, 25%);
    }

    @include breakpoint(small) {
      font-size: font-scale(0, small);
      line-height: units(1.5, small);
    }
  }
}
