// Table of contents
// =================

.toc-section {
  .chapter-list {
    width: columns(5);
    margin: units(3) auto 0;
    list-style: none;

    li {
      @include font-size(2);
      text-align: left;

      strong {
        display: inline-block;
        font-size: font-scale(3);
        padding-right: units(.5);
        width: 50%;
        text-align: right;
      }
    }
  }
}
