// Table of contents
// =================

.toc-section {
  .chapter-list {
    width: columns(5);
    margin: units(2) auto 0;
    list-style: none;

    li {
      @include font-size(2);
      text-align: left;

      &.upcoming {
        opacity: .5;
        pointer-events: none;
      }

      strong {
        display: inline-block;
        font-size: font-scale(3);
        padding-right: units(.5);
        width: columns(2);
        text-align: right;
      }
    }
  }
}
