// Typesetting and font sizes
// ==========================
//
// This module does two things: provides a mixin for setting the font family
// along with the correct weight value, as well as resetting the default
// body and code fonts to it.
//
// Example:
//
// .component-name {
//   em {
//     @include default-font(bold);
//   }
// }

@mixin default-font($weight) {
  font-family: 'Verlag Cond A', 'Verlag Cond B';
  font-style: normal;

  @if $weight == regular {
    font-weight: 300;
  } @else if $weight == bold {
    font-weight: 800;
  }
}

@mixin code-font {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

body {
  @include default-font(regular);
  font-size: font-scale(0);
}

code {
  @include code-font;
}
